<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @business.business_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business.email %>
</p>

<% if @business.id = current_business.id %>
	<%= link_to "Sign Out", destroy_business_session_path, method: :delete %> |
<% end %>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
