<div class="profileContent">
  <div class="profileContainer">
      <%= image_tag @business.photo.url(:medium) %>
      <p class="profileName"> <%= @business.business_name %></p>
  </div>
  <% if business_signed_in? && @business_id = current_business.id %>
    <div class="bioEdit">
      <%= link_to "Edit your profile »", edit_business_path(current_business.id) %>
    </div>
  <% end %>
  <div class="bioContainer">
    <table>
      <tr>
        <td class="bioCategory">Address: </td>
        <td><%= @business.address %> </td>
      </tr>
      <tr>
        <td class="bioCategory">Email: </td>
        <td><%= @business.email %> </td>
      </tr>
      <tr>
        <td class="bioCategory">Phone: </td>
        <td><%= @business.phone%> </td>
      </tr>
    </table>
  </div>
</div>
<div>
</div>
