<!-- CREATED: Sam Wolfe 4/17/2018
     MODIFIED: David Levine 4/17/2018
      -modified edit profile button so that it matches the profile style of the other
       band edit profile button, and also so that it works (before, clicking anything besides 
       the text wouldn't link you)
  
Description: Profile page for businesses
 -->
<div class="profileContent">
  <div class="profileContainer">
      <%= image_tag @business.photo.url(:medium) %>
      <p class="profileName"> <%= @business.business_name %></p>
  </div>
  <% if business_signed_in? && @business_id = current_business.id %>
    <div>
      <%= link_to "Edit your profile »", edit_business_path(current_business.id), class: "bioEdit"%>
    </div>
  <% end %>
  <div class="bioContainer">
    <table>
      <tr>
        <td class="bioCategory">Address: </td>
        <td><%= @business.address %> </td>
      </tr>
      <tr>
        <td class="bioCategory">Email: </td>
        <td><%= @business.email %> </td>
      </tr>
      <tr>
        <td class="bioCategory">Phone: </td>
        <td><%= @business.phone%> </td>
      </tr>
    </table>
  </div>
</div>
<div>
</div>
