<%= form_with(model: business_request, local: true) do |form| %>
  <% if business_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_request.errors.count, "error") %> prohibited this business_request from being saved:</h2>

      <ul>
      <% business_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="request_form">
    <% if @band_id %>
      <%= form.hidden_field :band_id, value: @band_id, id: :business_request_band_id%>
    <% else %>
      <% form.label :band_id %>
      <%= form.text_field :band_id, id: :business_request_band_id %>
    <% end %>

    <%= form.hidden_field :business_id, value: @business_id, id: :business_request_business_id %>

    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location, id: :business_request_location %>
    </div>

    <div class="field">
      <%= form.label :date %>
      <%= form.text_field :date, id: :business_request_date, placeholder: "yyyy-mm-dd" %>
    </div>

    <div class="field">
      <%= form.label :time %>
      <%= form.text_field :time, id: :business_request_time %>
    </div>

    <div class="field">
      <%= form.label :pay %>
      <%= form.text_field :pay, id: :business_request_pay %>
    </div>

    <div class="field">
      <%= form.label "Message to the artist (optional)" %>
      <%= form.text_area :message, cols: "45", rows: "5", id: :business_request_message %>
    </div>

    <div class="actions">
      <%= form.submit({ value: "Send your request" }) %>
    </div>
  </div>
<% end %>
