<p id="notice"><%= notice %></p>

<p>
  <strong>Band decision:</strong>
  <%= @business_request.band_decision %>
</p>

<p>
  <strong>Date:</strong>
  <%= @business_request.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @business_request.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @business_request.location %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @business_request.pay %>
</p>

<p>
  <strong>Message:</strong>
  <%= @business_request.message %>
</p>

<%= link_to 'Edit', edit_business_request_path(@business_request) %> |
<%= link_to 'Back', business_requests_path %>
