<% if business_signed_in? %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Band decision:</strong>
    <%= @business_request.band_decision %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= @business_request.message%>
  </p>

  <p>
    <strong>Band Name:</strong>
    <%= @business_request.band.band_name%>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @business_request.location %>
  </p>

  <p>
    <strong>Pay:</strong>
    <%= @business_request.pay %>
  </p>

  <%= link_to 'Edit', edit_business_request_path(@business_request) %> |
  <%= link_to 'Back', business_requests_path %>
<% else %>
  <h1> Oops! You dont have permission to view this page!</h1>
  <%= link_to 'Home', '/' %>
<% end %>
