<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @search.genre %>
</p>

<p>
  <strong>Business:</strong>
  <%= @search.business %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
