<%= form_with(model: response, local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if @post_id %>
      <%= form.hidden_field :post_id, value: @post_id, id: :post_id%>
    <% else %>
      <% form.label :post_id %>
      <%= form.text_field :post_id, id: :post_id %>
    <% end %>


  <div class="field">
    <%= form.label :bus_decision %>
    <%= form.text_field :bus_decision, id: :response_bus_decision %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
