<div class="profileContent">
  <div class="profileContainer">
      <%= image_tag @band.photo.url(:medium) %>
      <p class="profileName"> <%= @band.band_name %></p>
  </div>
  <table class="bioContainer">
    <tr>
      <td class="bioCategory">Genre: </td>
      <td><%= @band.genre %> </td>
    </tr>
    <tr>
      <td class="bioCategory">Email: </td>
      <td><%= @band.email %> </td>
    </tr>
    <tr>
      <td class="bioCategory">Phone: </td>
      <td><%= @band.phone%> </td>
    </tr>
    <tr>
      <td class="bioCategory">Address: </td>
      <td><%= @band.address %> </td>
    </tr>
  </table>
</div>
<div>
<%if business_signed_in?%>
<%= link_to "Request This Band", new_business_request_path(band_id: @bandID), method: :get, class: "btn btn-info bigBtn", "role" => "button", "style" => "color:white" %>
<%end%>
</div>