<!-- CREATED: Sam Wolfe 4/17/2018

Description: Created this page and added HTML used for displaying the
band profile page along with an image

MODIFIED: Alec Maier 4/17/2018
  -Adjusted styling and added spotify player -->

<div class="profileContent">
  <div class="profileContainer">
      <%= image_tag @band.photo.url(:profile) %>
      <p class="profileName"> <%= @band.band_name %></p>
  </div>
  <div>
    <% if band_signed_in? && @band_id = current_band.id %>
      <%= link_to "Edit your profile »", edit_band_path(current_band.id), "style" => "color:black", "class" => "bioEdit" %>
    <% end %>
  </div>
  <div>
    <%if business_signed_in?%>
    <%= link_to "Request This Artist", new_business_request_path(band_id: @bandID), method: :get, class: "btn btn-info bigBtn", "role" => "button", "style" => "color:white" %>
    <%end%>
  </div>
</div>
  <div class="bioContainer">
    <table>
      <tr>
        <td class="bioCategory">Genre: </td>
        <td><%= @band.genre %> </td>
      </tr>
      <tr>
        <td class="bioCategory">Email: </td>
        <td><%= @band.email %> </td>
      </tr>
      <tr>
        <td class="bioCategory">Phone: </td>
        <td><%= @band.phone%> </td>
      </tr>
      <tr>
        <td class="bioCategory">Address: </td>
        <td><%= @band.address %> </td>
      </tr>
    </table>
    <div>
      <h2>About</h2>
      <p><%= @band.bio %></p>
    </div>
    <% if @band.spotify_link != "" && @band.spotify_link%>
      <iframe src="https://open.spotify.com/embed?uri=<%= @band.spotify_link %>" width="300" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <% end %>
  </div>
</div>
