<!-- 
Created: David Levine 04/13/2018
Description: a partial using Semantic UI card styling to render users

-->
<div class="ui card">
  <div class="content">
    <div class="header"><%= band.band_name %></div>
  </div>

  <div class="content">
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <span>Genre:</span> <%= band.genre %>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <span>Phone Contact:</span> <%= band.phone %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
    <div style="display:none;" class="band-partial-band-id"><%= band.id %></div>
    <div style="display:none;" class="band-partial-post-id"><%= post.id %></div>
    <div style="display:none;" class="band-partial-response-id"><%= response.id %></div>
    <% if bus_decision == 'accept' %>
        <button class='btn btn-success'>Accepted!</button>
    <% elsif bus_decision == 'decline' %>
      '<button class='btn btn-danger'>Declined</button>'
    <% else %>
      <button class="ui primary button accept-band-response-button">Accept</button>
      <button class="ui primary button decline-band-response-button">Decline</button>
    <% end %>
    
    </br>

  </div>
</div>
