<%
=begin
MODIFIED: David Levine 04/14/2018
  -Updated HTML to enable additional CSS styling based on other websites

=end

%>

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="post-form">
  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, cols: "45", rows: "5", placeholder: "What talent are you seeking....", id: :post_message %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :post_date, type: "date" %>
  </div>

  <div class="field">
    <%= form.label :pay %>
    <%= form.text_field :pay, id: :post_pay %>
  </div>

  <div class="field">
    <%= form.label :location %> (Leave blank to use your business's address)
    <%= form.text_field :location, id: :post_location %>
  </div>

  <div class="actions">
    <%= form.submit({ value: "Make Post", class: "btn btn-primary"}) %>
  </div>
</div>
<% end %>
