<!-- 
Created: David and Henry 4/11/2018
  -Setup the partial for posts together

MODIFIED: David Levine 4/13/2018
  -Changed simple partial to Semantic UI card example

-->
<div class="ui card">
<%if band_signed_in? %>
  <div class="content">
    <div class="header">Business: <%= post.business.business_name %></div>
  </div>
<% end %>
  <div class="content">
    <h4 class="ui sub header">Posting Details</h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <span>Message:</span> <%= post.message %>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <span>Gig Date:</span> <%= post.date %>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <span>Pay:</span> <%= post.pay %>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <span>Location:</span> <%= post.location %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
    <% if business_signed_in? %>
    <button class="ui primary button" onclick="window.location.href='<%=post_path(post)%>'">See Responses</button>
    <button class="ui primary button" onclick="window.location.href='<%=edit_post_path(post)%>'">Edit</button>
    </br>
    <div>
    <%= link_to 'Delete Request', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% else %>
    <button class="ui primary button" onclick="window.location.href='<%=post_path(post)%>'">View</button>
    <button class="ui primary button">Apply</button>
    <% end %>
  </div>
</div>
