<%
=begin
  MODIFIED: David Levine 04/09/2018
    -Changed view to support different user accounts.
=end
%>
<% if business_signed_in? %>
<h1>Your Business's Requests</h1>
<% else %>
<h1>All Business Requests</h1>
<% end %>
<% #check if user has made any posts yet. otherwise notify them they need to make post %>
<% if !@posts%>
  <p>You haven't made any posts yet!</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Date</th>
      <% if band_signed_in? %>
      <th>Business</th>
      <% end %>
      <th>Pay</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @posts.each do |post| %>
      <tr>
        <td><%= post.message %></td>
        <td><%= post.date %></td>
        <% if band_signed_in? %>
          <td><%= @name_hash[post.business_id] %></td>
        <% end %>
        <td><%= post.pay %></td>
        <td><%= post.location %></td>
        <% if business_signed_in? %>
          <td><%= link_to 'Show Responses', post %></td>
          <td><%= link_to 'Edit Request', edit_post_path(post) %></td>
          <td><%= link_to 'Delete Request', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'View', post%></td>
          <td><%= link_to 'Apply', post%></td> <% #TODO: SET UP APPROPRIATE ROUTES AND CONTROLLER CODE FOR THIS %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<br>

<% if business_signed_in? %>
<%= link_to 'Make New Band Request', new_post_path %>
<% end %>
