<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Business:</strong>
  <%= @business_name %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @post.pay %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<% if business_signed_in? %>
<p>
  <strong>Responses</strong>
  <% if !@post.responses %>
    <% @post.responses do |response| %>

    <% end %>
  <% else %>
    No responses to this post!
  <% end %>
</p>
<% end %>

<% if business_signed_in? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% else %>
<%= link_to 'Apply', edit_post_path(@post) %> | <%#TODO: Change path to work for applying%>
<% end %>
<%= link_to 'Back', posts_path %>
