<%
=begin
CREATED: Brandon Brown 4/10/2018
  - navigation bar if band user signed in 
MODIFIED: David Levine 4/14/2018
  -Added links to Profile, Requests, Apply for Gigs, View Active applications
  -Updated old hardcoded links with link_to method
=end
%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/homepage/band">ArtistBook</a>
  <ul class="navbar-nav">
    <li>
      <%= link_to "Home", homepage_band_path, class: "nav-link"%>
    </li>
    <li>  
      <%= link_to "Profile", band_path(current_band.id), class: "nav-link" %>
    </li>
    <li>
      <%= link_to "Requests", business_requests_path, class: "nav-link"%>
    </li>
    <li>
      <%= link_to "Apply for/managage gigs", posts_path, class: "nav-link"%>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <% if band_signed_in? && (@band_id = current_band.id)%>
        <%= link_to "Sign Out", destroy_band_session_path, method: :delete, class: "nav-link" %>
      <% end %>
    </li>
  </ul>
</nav>

