<!-- Modified By: Brandon Brown 04/10/2018
       - Added rendering of nav-bar partials
     Modified By: Alec Maier 04/11/2018
       - Added conditional rendering of nav-bar based on user signed in
-->
   
<!DOCTYPE html>
<html>
  <head>
    <title>ArtistBook</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% not_logged_in = !(band_signed_in? || business_signed_in?) %>
  <%current_url = request.original_fullpath %>
  <%on_contact_or_info = (current_url == '/developer/developer_info') || (current_url == '/developer/about_us')%>

  <body <% if not_logged_in && !on_contact_or_info %>id="login_bg"<% end %>>
    <!-- Header navigation bar -->
    <% if business_signed_in? %>
      <%= render 'layouts/nav_bar_business' %>
    <% elsif band_signed_in? %>
      <%= render 'layouts/nav_bar_band' %>
    <% else %>
      <%= render 'layouts/nav_bar_default' %>
    <% end %>

    <div class="site_content">
    <% if alert %>
    <p id="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    </div>
    <!-- Footer navigation bar -->
    <% if band_signed_in? || business_signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
