
<div class="profileContent">
  <div class="homepageContainer">
      <%= image_tag current_band.photo.url(:medium) %>
      <p class="profileName">Welcome, <%= current_band.band_name %>!</p>
  </div>
  <%if @has_requests%>
    <div class="requestsActive container"><%= link_to "You have an active request! Click to view", business_requests_path%></div>
  <%end%>
  <div class="postsApplied container">
    <p class="cardTitle">Recent Posts You've Applied For</p>
    <% if @posts_applied.length > 0 %>
      <%= render partial: "homepage/post", collection: @posts_applied, locals: {applied: true} %>
    <% else %>
      <span>There is nothing to show!</span>
    <%end%>
  </div>

    <div class="postsApplied container">
    <p class="cardTitle">Posts You May Be Interested In</p>
      <% if @posts_not_applied.length > 0 %>
        <%= render partial: "homepage/post", collection: @posts_not_applied, locals: {applied: false} %>
      <% else %>
        <span>There is nothing to show!</span>
      <% end %>
  </div>
</div>

